<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
     <div class="col-md-8">
       <h2>MarkeTalk is a web app and informational site for users who buy and sell stocks on a daily basis. Since speculation is so important to the stock market, the goal of my project is to show the users what other users’ opinions are on buying, selling, or holding certain stocks.</h2>
       

       <h2>The main feature of my app is to display user opinions using pie charts - something I have not seen in any stock market app before. When users search a particular company’s stock symbol, they are directed to a page that shows user polls and comments regarding whether to buy, sell, or hold, helping users to make better decisions about their investments. </h2>


       <h2>I have a lot of interest in playing with stocks, so I chose to build an app based on my interest. Stock Market was built with AngularJS, JavaScript, HTML, and CSS on the front end, Rails on the back end, and leverages the stock-quote gem.  </h2>
     </div>
     <div class="col-md-2"></div>
  </div>  
</div>