<div class="overlay"></div>

      <!-- animated text slider -->
      <div id="slides">
          <ul class="slides-container">
            <li>
                <%= image_tag("my_image_2.jpg")%>
                <!-- image overlay -->
                <div class="overlay"></div>
                <!-- end: image overlay -->
                <div class="container slider-content-wrap">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h1 class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".6s"></h1>
                     <!--  <h2 class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".6s">Professional multipurpose template</h2> -->
                      <!-- <a href="#" class="btn custom-btn-1 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".9s">Learn more</a> -->
                    </div>  
                  </div>    
                </div>
            </li>
            <li>
                <%= image_tag("my_image_1.jpg")%>
                <!-- image overlay -->
                <div class="overlay"></div>
                <!-- end: image overlay -->
                <div class="container slider-content-wrap">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- <h1 class="wow slideInLeft" data-wow-duration="1.8s" data-wow-delay=".6s">Let's get started</h1> -->
                      <!-- <h2 class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".6s">Join our community, explore the features</h2>
                      <a href="#" class="btn custom-btn-1 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".9s">Learn more</a> -->
                    </div>
                  </div>    
                </div>
            </li>
          </ul>
      </div>
      <!-- end: animated text slider -->  

    
  