<div class="overlay"></div>

      <!-- animated text slider -->
      <div id="slides">
          <ul class="slides-container">
            <li>
                <img src="assets/img/slider/01.jpg" alt="">
                <!-- image overlay -->
                <div class="overlay"></div>
                <!-- end: image overlay -->
                <div class="container slider-content-wrap">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h1 class="wow slideInLeft" data-wow-duration="1.8s" data-wow-delay=".6s">Welcome to Basic</h1>
                      <h2 class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".6s">Professional multipurpose template</h2>
                      <a href="#" class="btn custom-btn-1 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".9s">Learn more</a>
                    </div>  
                  </div>    
                </div>
            </li>
            <li>
                <img src="assets/img/slider/02.jpg" alt="">
                <!-- image overlay -->
                <div class="overlay"></div>
                <!-- end: image overlay -->
                <div class="container slider-content-wrap">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h1 class="wow slideInLeft" data-wow-duration="1.8s" data-wow-delay=".6s">Let's get started</h1>
                      <h2 class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".6s">Join our community, explore the features</h2>
                      <a href="#" class="btn custom-btn-1 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".9s">Learn more</a>
                    </div>
                  </div>    
                </div>
            </li>
          </ul>
      </div>
      <!-- end: animated text slider -->  

    
    <!-- end: header  -->   
    <!-- news ticker -->
    <section id="newsticker">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-sm-4 text-center">
                <h2>Latest News</h2>
              </div>
              <div class="col-sm-8">
                <ul class="newsticker">
                    <li><span class="fa fa-caret-right"></span><a href="#" target="_blank">An Amazonian shaggy dog story with a lovely ending</a></li>
                    <li><span class="fa fa-caret-right"></span><a href="#" target="_blank">Do you know who's looking at your online profiles?</a></li>
                    <li><span class="fa fa-caret-right"></span><a href="#" target="_blank">Nourish your body and soul with these noodle soups</a></li>
                </ul>           
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
    <!-- end: news ticker -->

    <!-- section: about -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>We're Basic Inc.</h2>
          </div>
          <div class="col-md-8">
            <blockquote class="introduction wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">Lorem ipsum is a pseudo-Latin text used in web design, typography, layout and fashioning in place of English to emphasise design elements over content. It's also called placeholder or filler text.</blockquote>
          </div>
        </div>
        <div class="row top-pad-40 small-caret-2">
          <div class="col-md-4">
            <h3 class="small-title wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">01. Creative</h3>
            <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">Lorem ipsum is a pseudo-Latin text used in web design, layout in place of English to emphasise design elements over content.</p>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">  
              <a href="#">Learn more<span class="fa fa-caret-right"></span></a>
            </div>  
          </div>
          <div class="col-md-4">
            <h3 class="small-title wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">02. Punctual</h3>
            <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Lorem ipsum is a pseudo-Latin text used in web design, layout in place of English to emphasise design elements over content.</p>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">  
              <a href="#">Learn more<span class="fa fa-caret-right"></span></a>
            </div>              
          </div>
          <div class="col-md-4">
            <h3 class="small-title wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">03. Productive</h3>
            <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".9s">Lorem ipsum is a pseudo-Latin text used in web design, layout in place of English to emphasise design elements over content.</p>
            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">  
              <a href="#">Learn more<span class="fa fa-caret-right"></span></a>
            </div>  
          </div>
        </div>
        <div class="row top-pad-40">
          <div class="col-md-12">
            <img src="assets/img/content/team.png" class="img-responsive center-block wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- end: about -->

    <!-- portfolio -->
    <section id="portfolio" class="portfolio-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Portfolio</h2>
            <h3 class="small-title-3">... Take a look at our recent works</h3>
          </div>          
        </div>
        <div class="row top-pad-40">
          <div class="col-md-12 col-sm-12 col-xs-12 item-filter">
              <ul class="list-inline text-center">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter=".brand">Brand</li>
                <li class="filter" data-filter=".print">Print</li>
                <li class="filter" data-filter=".illustration">Illustration</li>
              </ul>
            </div>
            <div id="portfolio-items" class="col-md-12 col-sm-12 col-xs-12">
              <div class="row"> 

                <div class="col-md-4 col-sm-6 col-xs-12 mix print" data-myorder="1">          
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio01.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 01</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>                
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mix illustration" data-myorder="2">         
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio02.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 02</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>
                </div>  

                <div class="col-md-4 col-sm-6 col-xs-12 mix brand" data-myorder="3">          
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio03.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 03</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mix print" data-myorder="4">          
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio04.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 04</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>
                </div>  

                <div class="col-md-4 col-sm-6 col-xs-12 mix illustration" data-myorder="4">         
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio05.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 05</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>
                </div>  

                <div class="col-md-4 col-sm-6 col-xs-12 mix print" data-myorder="4">          
                  <a href="portfolio-single.html">
                    <div class="img-wrap">
                      <img src="assets/img/portfolio/portfolio06.jpg" alt="" class="img-responsive center-block">
                      <div class="work-name">
                        <h3>Project 06</h3>
                      </div>                        
                      <div class="img-overlay"></div>
                    </div>  
                  </a>
                </div>  
                                                          
              </div>  
            </div>                    
          </div>                  
      </div>        
    </section>
    <!-- end: portfolio -->

    <!-- call to action 01 -->    
    <section id="cta-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Our work is dedicated to the prosperity of our client.</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- end: call to action 01 -->   

    <!-- features -->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Great features</h2>
            <h3 class="small-title-3 text-center">... Brilliant and effective solutions</h3>
          </div>
        </div>  
        <div class="row top-pad-40 custom-icon-2">
          <div class="col-md-4">
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"><span class="icon-refresh"></span>Customization</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2.2s" data-wow-delay="1.2s"><span class="icon-layers"></span>Relevancy</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2.4s" data-wow-delay="1.4s"><span class="icon-upload"></span>Upgrade</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>          
          </div>
          <div class="col-md-4">
            <img src="assets/img/content/02.png" class="img-responsive center-block wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s" alt="">
          </div>        
          <div class="col-md-4">
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"><span class="icon-linegraph"></span>Boosts Interest</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2.2s" data-wow-delay="1.2s"><span class="icon-tools"></span>Clean Code</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>
            <div class="k-features">
              <h2 class="small-title wow fadeIn" data-wow-duration="2.4s" data-wow-delay="1.4s"><span class="icon-chat"></span>Ensures Ease</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in design and fashioning in place of English.</p>
            </div>
          </div>
        </div>
      </div>        
    </section>
    <!-- end: features -->

    <!-- other features -->
    <section id="other-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Take your business to the next level</h2>
            <h3 class="small-title-3">... We're always looking forward</h3>
          </div>
        </div>  
        <div class="row top-bottom-pad-40"> 
          <div class="col-md-4">
            <div class="k-features-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
              <h2 class="small-title custom-icon-2"><span class="icon-pencil"></span>Clean Typography</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in web design in place of English.</p>
              <a href="#" class="small-caret-2">Learn more<span class="fa fa-caret-right"></span></a>
            </div>
          </div>
          <div class="col-md-4">  
            <div class="k-features-2 wow fadeIn" data-wow-duration="2.2s" data-wow-delay="1.2s">
              <h2 class="small-title custom-icon-2"><span class="icon-alarmclock"></span>Timely Production</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in web design in place of English.</p>
              <a href="#" class="small-caret-2">Learn more<span class="fa fa-caret-right"></span></a>
            </div>            
          </div>
          <div class="col-md-4">  
            <div class="k-features-2 wow fadeIn" data-wow-duration="2.2s" data-wow-delay="1.2s">
              <h2 class="small-title custom-icon-2"><span class="icon-recycle"></span>Recycle Technology</h2>
              <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">Lorem ipsum is a pseudo-Latin text used in web design in place of English.</p>
              <a href="#" class="small-caret-2">Learn more<span class="fa fa-caret-right"></span></a>
            </div>            
          </div>          
        </div>        
      </div>
    </section>
    <!-- end: other features -->

    <!-- video demonstration -->
    <section id="video">
      <div class="custom-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Take A Tour</h2>
          </div>
        </div>
        <div class="row text-center play-icon wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="video" data-mfp-src="https://vimeo.com/136116229">
              <span class="fa fa-play"></span>
            </div>
          </div>
        </div>        
      </div>  
    </section>
    <!-- end: video demonstration -->   

    <!-- reviews -->
    <section id="reviews">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Reviews</h2>
            <h3 class="small-title-3 text-center">... What people say about us</h3>
          </div>  
        </div>
        <div class="row top-pad-40">
          <div id="reviews-slider">
            <!-- reviews 01 -->
            <div class="col-md-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s">
              <div class="row small-caret">
                <div class="col-sm-4">
                  <img src="assets/img/reviews/01.jpg" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-8">      
                  <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout and fashioning in place of English to emphasise design elements.</p>
                  <h4 class="small-title-2"><span class="fa fa-caret-right"></span>Matt Preston</h4>
                </div>
              </div>  
            </div>
            <!-- reviews 02 -->
            <div class="col-md-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s">
              <div class="row">
                <div class="col-sm-4">
                  <img src="assets/img/reviews/02.jpg" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-8">    
                  <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout and fashioning in place of English to emphasise design elements.</p>
                  <h4 class="small-title-2 small-caret"><span class="fa fa-caret-right"></span>Christine Jones</h4>
                </div>
              </div>  
            </div>  
            <!-- reviews 03 -->
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-4">
                  <img src="assets/img/reviews/03.jpg" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-8">      
                  <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout and fashioning in place of English to emphasise design elements.</p>
                  <h4 class="small-title-2 small-caret"><span class="fa fa-caret-right"></span>Thomas Clark</h4>
                </div>
              </div>  
            </div>
            <!-- reviews 04 -->
            <div class="col-md-12">
              <div class="row small-caret">
                <div class="col-sm-4">
                  <img src="assets/img/reviews/04.jpg" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-8">      
                  <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout and fashioning in place of English to emphasise design elements.</p>
                  <h4 class="small-title-2 small-caret"><span class="fa fa-caret-right"></span>Richard Trodden</h4>
                </div>
              </div>  
            </div>                                      
          </div>
        </div>
      </div>
    </section>
    <!-- end: reviews --> 

    <!-- blog -->
    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Our blog</h2>
            <h3 class="small-title-3">... Recent posts about BASIC</h3>
          </div>
        </div>
        <div class="row top-pad-40">
          <div class="col-md-4">
            <div class="blog-wrap">
              <div class="blog-img-overlay">
                <a href="blog.html"><img src="assets/img/blog/01.jpg" class="img-responsive center-block" alt=""></a>
              </div>  
                <div class="blog-info wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                  <h3 class="small-title-2">Lorem ipsum sample blog</h3>
                  <div class="border-style">
                    <a href="blog.html">25 March, 2016</a>
                  </div>
                  <p>Lorem ipsum is a pseudo-Latin text used in web design in place of English to emphasise design elements.</p>
                </div>
                <div class="wow fadeInUp small-caret-2" data-wow-duration="2.2s" data-wow-delay=".5s">
                  <a href="blog.html" class="small-caret-2">Read more<span class="fa fa-caret-right"></span></a>
                </div>
            </div>      
          </div>
          <div class="col-md-4">
            <div class="blog-wrap">
              <div class="blog-img-overlay">
                <a href="blog.html"><img src="assets/img/blog/02.jpg" class="img-responsive center-block" alt=""></a>
              </div>  
                <div class="blog-info wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                  <h3 class="small-title-2">Lorem ipsum sample blog</h3>
                  <div class="border-style">
                    <a href="blog.html">18 December, 2015</a>
                  </div>
                  <p>Lorem ipsum is a pseudo-Latin text used in web design in place of English to emphasise design elements.</p>
                </div>
                <div class="wow fadeInUp small-caret-2" data-wow-duration="2.2s" data-wow-delay=".5s">
                  <a href="#" class="small-caret-2">Read more<span class="fa fa-caret-right"></span></a>
                </div>  
            </div>    
          </div>
          <div class="col-md-4">
            <div class="blog-wrap">
              <div class="blog-img-overlay">
                <a href="blog.html"><img src="assets/img/blog/03.jpg" class="img-responsive center-block" alt=""></a>
              </div>  
                <div class="blog-info wow fadeIn" data-wow-duration="2s" data-wow-delay=".8s">
                  <h3 class="small-title-2">Lorem ipsum sample blog</h3>
                  <div class="border-style">
                    <a href="blog.html">19 August, 2015</a>
                  </div>
                  <p>Lorem ipsum is a pseudo-Latin text used in web design in place of English to emphasise design elements.</p>
                </div>
                <div class="wow fadeInUp small-caret-2" data-wow-duration="2.2s" data-wow-delay=".5s">
                  <a href="blog.html" class="small-caret-2">Read more<span class="fa fa-caret-right"></span></a>
                </div>  
            </div>    
          </div>          
        </div>
      </div>
    </section>
    <!-- end: blog -->  

    <!-- subscribe -->    
    <section id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Newsletter</h2>
            <h3 class="small-title-3">... Stay updated about latest news</h3>
          </div>
        </div>
        <div class="row top-pad-40">
            <div class="col-md-6 col-md-offset-3">
              <form id="mc-form" class="form-horizontal mailchimp">
              <div class="form-group">
                <div class="col-md-8 col-sm-8 newsletter wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                  <input class="form-control" type="email" id="mc-email" placeholder="Email Address" required="required">
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
                  <button type="submit" id="mc-submit" class="btn subscribe-btn"><span class="subscribe ti-mouse"></span>Subscribe</button>
                </div>
              </div>
            </form>             
            </div>
          </div>
      </div>
    </section>
    <!-- end: subscribe -->