<div class = "col-md-6">
  <table class = "table">

    <tr>
      <th>Company Name</th>
      <th>Company Code</th>
    </tr>

    <% @companies.each do |company|%>
      <tr >
        <th class="company_names_size"><%= company.company_name %></th>
        <th class="company_names_size"><%= company.company_code %></th>
      </tr>
    <%end%>
  </table>
</div>