<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
   <table id="search_table" class="table">
    <tr>
      <th>Company Name</th>
      <th>Company Code</th>
    </tr>
    

    <% @companies.each do |company| %>
    <tr>
      <td><%= link_to company.company_name, "/companies/#{company.id}" %></td>
      <td><%= link_to company.company_code, "/companies/#{company.id}" %></td>   
      <!-- company in company.id is the name in the do |company| -->
    </tr>
    <%end %>
   </table>  
  </div>
  <div class="col-md-3"></div>
</div>
