.everyone{
  font-size: 20px;
}

#search_table {
  text-align: center;

  th {
    text-align: center;
  }
}

#page-top {
  padding-top: 150px;
}

footer {
  margin-top: 200px;
}

.companyName {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 18px;

}

.companySymbol{
  font-weight: bold;
  font-size: 1.5em;
}

.companySharePrice {
  font-weight: bold;
  font-size: 1.5em;
}

.sharePricePercentageChange {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: -70px;
}
  #red {
    color: red;
  }

  #green {
    color: green;
  }

.eps{
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
}

.votes{
  margin-top: 20px;
}


// .class // class="class"
// #id // div id="sdsdsd"
// footer // <footer> or <div>
// div 
// body 